absl-py==0.11.0
appnope==0.1.2
argon2-cffi==20.1.0
astor==0.8.1
async-generator==1.10
attrs==20.3.0
autocorrect==2.3.0
backcall==0.2.0
bleach==3.3.0
casadi==3.5.5
catkin-pkg==0.4.23
certifi==2020.12.5
cffi==1.14.5
cloudpickle==1.6.0
colorama==0.4.4
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
deluca==0.0.4
dill==0.3.3
docutils==0.16
entrypoints==0.3
flatbuffers==1.12
future==0.18.2
gym==0.18.0
imageio==2.9.0
importlib-metadata==3.4.0
ipykernel==5.4.3
ipython==7.20.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
jax==0.2.9
jaxlib==0.1.61
jedi==0.18.0
Jinja2==2.11.3
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.11
jupyter-console==6.2.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
kiwisolver==1.3.1
lxml==4.6.2
MarkupSafe==1.1.1
matplotlib==3.1.0
meshcat==0.0.19
metakernel==0.27.5
mistune==0.8.4
mock==4.0.3
multiprocess==0.70.11.1
nbclient==0.5.2
nbconvert==6.0.7
nbformat==5.1.2
nest-asyncio==1.5.1
networkx==2.5
notebook==6.2.0
numpy==1.20.1
oct2py==5.2.0
octave-kernel==0.32.0
opencv-python==4.5.1.48
opt-einsum==3.3.0
packaging==20.9
pandocfilters==1.4.3
parso==0.8.1
pathos==0.2.7
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
pox==0.2.9
ppft==1.6.6.3
prometheus-client==0.9.0
prompt-toolkit==3.0.16
ptyprocess==0.7.0
pybind11==2.6.2
pybullet==3.0.8
pycparser==2.20
pyglet==1.5.0
Pygments==2.8.0
pyngrok==5.0.2
pyparsing==2.4.7
pyrsistent==0.17.3
pyspellchecker==0.5.6
python-dateutil==2.8.1
PyYAML==5.4.1
pyzmq==22.0.3
qtconsole==5.0.2
QtPy==1.9.0
scipy==1.6.0
Send2Trash==1.5.0
six==1.15.0
sourceinspect==0.0.4
taichi==0.7.10
terminado==0.9.2
testpath==0.4.4
torch==1.7.1
tornado==6.1
traitlets==5.0.5
trimesh==3.9.8
typing-extensions==3.7.4.3
u-msgpack-python==2.7.1
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.1
zipp==3.4.0
